* {
    primary-color: #1E3A8A;
    primary-light: #3B82F6;
    accent-color: #60A5FA;
    background-color: #F1F5F9;

    text-color: #0F172A;
	text-font: "Inter";
}

/* UI Background */
.root{
	-fx-background-color: background-color;
}


/* Labels */
.label{
	-fx-text-fill: text-color;
	-fx-label-padding: 2px;
	-fx-font-family: text-font;
}



.button{
	-fx-background-color: primary-light;
	-fx-text-fill: white;
	-fx-background-radius: 8px;
	-fx-padding: 5px 20px;
	-fx-cursor: hand;

}

.button:hover {
    -fx-background-color: accent-color;
}



.table-view{
	-fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.table-view:focused{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view .column-header, 
.table-view .filler {
    -fx-border-color: white;
    -fx-border-width: 0 1 0 0;
}

.table-view .column-header {
    -fx-background-color: accent-color;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
	-fx-font-size: 20px;
}

.table-row-cell {
    -fx-font-size: 20px;
	-fx-font-family: "Inter";
	-fx-text-fill: black;
}

.table-row-cell:odd {
    -fx-background-color: lightgray;
}
.table-row-cell:even {
    -fx-background-color: lightblue;
}

.table-row-cell:selected {
    -fx-background-color: #3B82F6;
    -fx-text-fill: white;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}