* {
    primary-color: #1E3A8A;
    primary-light: #3B82F6;
    accent-color: #60A5FA;
    background-color: #F1F5F9;

    text-color: #0F172A;
}

/* UI Background */
.root{
	-fx-background-color: background-color;
}


/* Labels */
.label{
	-fx-text-fill: text-color;
	-fx-label-padding: 2px;
	-fx-font-family: "Poppins";
}



/* Buttons */
.button{
	-fx-background-color: primary-light;
	-fx-text-fill: white;
	-fx-background-radius: 8px;
	-fx-padding: 5px 20px;
	-fx-cursor: hand;
	-fx-fonr-family: "Open Sans";

}

.button:hover {
    -fx-background-color: accent-color;
}